<p>course works!</p>

<div class="card">

    <form>
<div class="form-gruop">
    <label>Name</label>
    <input type="text" [(ngModel)]="courseName" [ngModelOptions]="{standalone: true}"class="form-control" id="coursename" placeholder="Enter Name" >
</div>

<div class="form-gruop">
    <label>Description</label>
    <input type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"class="form-control" id="description" placeholder="description" >
</div>

<button type="submit" class="btn btn-primary" (click)="save">Submit</button>
    </form>
</div>

<div class="container">
    <h1>Course Table</h1>
    <table class="table">
        <thead>
            <h1 *ngIf="!isResultLoaded">Please Wait!</h1>

            <tr>
                <th scope="col">ID</th>
                <th scope="col">CourseName</th>
                <th scope="col">Description</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let CourseItem of CourseArray">
                <th scope="row">{{CourseItem.courseid}}</th>
                <td>{{CourseItem.coursename | uppercase}}</td>
                <td>{{CourseItem.description}}</td>
                <td>
                    <button type="button" class="btn btn-update" (click)="setUpdate(CourseItem)">Edit</button>
                     <button type="button" class="btn btn-delete" (click)="setDelete(CourseItem)">Delete</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>