<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course List</title>
</head>
<body>
<h1>Course List</h1>
<table>
    <thead>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.courseid}"></td>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.description}"></td>
        <td>
            <a th:href="@{/course/update/{id}(id=${course.courseid})}">Update</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/course/create">Create New Course</a>
</body>
</html>